[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
art = "*"
pyyaml = "*"
typeguard = "*"
jaxtyping = "*"
numpy = "*"
torch = "*"
local-woodoku = {editable = true, path = "."}

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pre-commit = "*"
mypy = "*"
types-pyyaml = "*"
types-atomicwrites = "*"
types-setuptools = "*"
ipykernel = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
